<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Authentication Bypass</title>
</head>
<body>
    <div class="container">
        <h1 style="color: rgb(34, 34, 33);text-shadow: 2px 3px 4px rgb(162, 197, 162);">Authentication bypass Labs</h1>
        <div class="task">
          <h2>Task 1: <span class="title">Username enumuration via status code</span></h2>
          <a href="/task1" target="_blank" class="start"><i class="fa-solid fa-play" style="margin-right: 6px;"></i>Start Task</a>
        </div>
        <div class="task">
          <h2>Task 2: <span class="title">Username enumuration via Time delay</span></h2>
          <a href="/task3" target="_blank" class="start"><i class="fa-solid fa-play" style="margin-right: 6px;"></i>Start Task</a>
        </div>
        
        <div class="task" >
          <h2>Task 3: <span class="title">Username Enumuratiation via response message</span></h2>
          <a href="/task3" target="_blank" class="start"><i class="fa-solid fa-play" style="margin-right: 6px;"></i>Start Task</a>
        </div>

        <div class="task" >
          <h2>Task 4: <span class="title">Broken brute-force protection, IP block</span></h2>
          <a href="/task3" target="_blank" class="start"><i class="fa-solid fa-play" style="margin-right: 6px;"></i>Start Task</a>
        </div>

        <div class="task" >
          <h2>Task 5: <span class="title">2FA broken logic</span></h2>
          <a href="/task3" target="_blank" class="start"><i class="fa-solid fa-play" style="margin-right: 6px;"></i>Start Task</a>
        </div>

        <div class="task" >
          <h2>Task 6: <span class="title">Brute-forcing a stay-logged-in cookie</span></h2>
          <a href="/task3" target="_blank" class="start"><i class="fa-solid fa-play" style="margin-right: 6px;"></i>Start Task</a>
        </div>
        <div class="task" >
          <h2>Task 7: <span class="title">Password reset poisoning via middleware</span></h2>
          <a href="/task3" target="_blank" class="start"><i class="fa-solid fa-play" style="margin-right: 6px;"></i>Start Task</a>
        </div>
        <div class="task" >
          <h2>Task 8: <span class="title">Broken brute-force protection, multiple credentials per request</span></h2>
          <a href="/task3" target="_blank" class="start"><i class="fa-solid fa-play" style="margin-right: 6px;"></i>Start Task</a>
        </div>
        

    </div>
</body>
</html>
